.body{
   display: block;
  margin-left: 250px;
  margin-top: 0;
}


.logo{
    display:flex;
    height: 100px;
    width: 300px;
    margin-top: 20px;
    margin-left: 50px;
   
}

.image{
    height:200px;
    width:250px;
    background-image: url("amazonPicsamazon-logo-s3f.png");
    background-size: cover;
   
}
.frame{
    height:360px;
    width: 350px;
    border:1px solid #cccccc;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 26px;
    margin-top:50px;
}

.signIn{
    height: 50px;
    width: 230px;
   
}
.signIn h1{
    font-size: 28px;
    color: #111111;
    font-weight: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input-block p{
    font-size: 14px;
    font-weight: bold;
    color:#111111;
   
}
.input-block input{
    height: 30px;
    width: 310px;
    background-color: white;
    border-radius: 3px;;
}
.input-block button{
    margin-top: 20px;
    height: 35px;
    width: 320px;
    background-color:orange;
    border-radius: 10px;
}
.term-cond{
    width: 310px;
    height: 70px;
    font-size: 14px;
}
.term-cond a{
    text-decoration: none;
   
}
.block3{ 
    border-top: 0.5px solid #cccccc;
    height:50px;
    width: 310px;
    font-size: 15px;
}
.block3 p{
    color:#111111;
}
.block3 a{
    text-decoration: none ;
}
.border{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 375px;
    border-top: 0.5px solid #cccccc ;
    border-bottom:0.5px solid #cccccc ; 

}
.border p{
    font-size: 15px;
    color:#767676;
}
.submit{
    margin-top: 10px;
    height: 50px;
    width: 375px;
    color: #111111;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.submit button{
    height: 35px;
    width: 320px;  
    border-radius: 10px;

}

.underLine a:hover{
border-bottom: 0.5px solid orange ;
color:orange;
}
.bgcolor button:hover{
    background-color: #cccccc;
}